<!--<!DOCTYPE html>
<html lang="en">-->
<!-- Mirrored from grona.dev/demo/v1.0.1/html/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 16 Oct 2020 07:31:34 GMT -->
<!--<head>-->
<!-- Required Meta Tags -->
<!--<meta charset="utf-8">
<title>PANDA</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="assets/images/fav/favicon.png" type="image/x-icon">
<link rel="icon" href="assets/images/fav/favicon.png" type="image/x-icon">-->
<!-- icons -->
<!--<link href="~/Content/assets/icons/style.css" rel="stylesheet">-->
<!-- vendors -->
<!--<link href="~/Content/vendor/slick/slick.css" rel="stylesheet">
<link href="~/Content/vendor/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="~/Content/vendor/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet">
<link href="~/Content/vendor/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet">-->
<!-- styles -->
<!--<link rel="stylesheet" type="text/css" media="all" href="~/Content/assets/css/theme.css" />
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/assets/css/yeni.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
            $('.customer-logos').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 1000,
                arrows: false,
                dots: false,
                pauseOnHover: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 3
                    }
                }]
            });
        });</script>
    <script type="text/javascript">
        function bigImg(x) {
            document.getElementById("card-hov").style.display = "none";
            document.getElementById("card-hov-1").style.display = "block";
        }


    </script>
    <script>
        function goster1() {
            document.getElementById("card-1").style.display = "block";
            document.getElementById("card-2").style.display = "none";
            document.getElementById("card-3").style.display = "none";
            document.getElementById("card-4").style.display = "none";
        }
    </script>
    <script>
        function goster2() {
            document.getElementById("card-1").style.display = "none";
            document.getElementById("card-2").style.display = "block";
            document.getElementById("card-3").style.display = "none";
            document.getElementById("card-4").style.display = "none";
        }
    </script>
    <script>
        function goster3() {
            document.getElementById("card-1").style.display = "none";
            document.getElementById("card-2").style.display = "none";
            document.getElementById("card-3").style.display = "block";
            document.getElementById("card-4").style.display = "none";
        }
    </script>
    <script>
        function goster4() {
            document.getElementById("card-1").style.display = "none";
            document.getElementById("card-2").style.display = "none";
            document.getElementById("card-3").style.display = "none";
            document.getElementById("card-4").style.display = "block";
        }
    </script>
</head>
<body style="">

    <div class="container body-content">
        @RenderBody()

    </div>
    <a href="#" class="goup"><i class="icon-double-up"></i></a>-->
<!-- global scripts -->
<!--<script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!-- vendors -->
<!--<script src="~/Content/vendor/slick/slick.js"></script>
<script src="~/Content/vendor/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="~/Content/vendor/lazyload/dist/lazyload.min.js"></script>
<script src="~/Content/vendor/skrollr/dist/skrollr.min.js"></script>
<script src="~/Content/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="~/Content/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="~/Content/vendor/jQuery.countdown/dist/jquery.countdown.min.js"></script>-->
<!-- scripts -->
<!--<script src="~/Content/assets/js/script.js"></script>-->
<!-- inline page scripts -->
<!--<script>
    if (!is_touch_device()) {
        $(window).on("load", function () {
            var s = skrollr.init({
                forceHeight: false,
            });
        });
    }
</script>-->
<!-- init countdown -->
<!--<script>
        $('.countdown').each(function (e) {
            var countdown_until = $(this).data('countdown');
            $(this).countdown(countdown_until, function (event) {
                $(this).html(event.strftime('%-D<small>Day%!D</small> %H<small>Hour%!H</small> %M<small>Minute%!M</small> %S<small>Seconds</small>'));
            });
        })
    </script>
    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("btn btn-light dropdown-toggle");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</body>
</html>-->
